.gitignore
go.work
frontend/node_modules/**
vr/src/cannon_collision/old_scene.html
vr/src/cannon_collision/old_script.js

/node_modules
package.json
package-lock.json

frontend/functions/next
frontend/functions/node_modules
frontend/.next
frontend/out
fronend/node_modules/

