.gitignore
go.work
frontend/node_modules/**
vr/assets/simplified/lower_1769.obj
vr/assets/simplified/upper_1619.obj
vr/src/cannon_collision/old_scene.html
vr/src/cannon_collision/old_script.js
vr/src/cannon_collision/Profile-**

/node_modules
package.json
package-lock.json

frontend/functions/next
frontend/functions/node_modules
frontend/.next
frontend/out

frontend/node_modules/
frontend/.firebase


*.cache
*.DS_Store

relu-backend-47dc600a7582.json
cloud-sql-proxy
