.relu_btn {
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;

  color: #fe7d00;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  border-color: #fe7d00;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;
}

.relu_btn:hover {
  background-color: rgba(254, 125, 0, 0.25);
}

.search_btn {
  float: center;

  padding: 20px;

  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

#logOut {
  margin-right: 20px;
}

.sidebarButton {
  margin: auto;
}

#fixedWidth {
  width: 15vw;
  margin-left: 15px;
}

#dropDownButton {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
}

.absoluteWrapper {
  padding-left: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

#waitIcon {
  width: 48px;
  height: 48px;
  margin: 20px 10px;
  background-image: url(../../public/settings_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#homeIcon {
  width: 48px;
  height: 48px;
  margin: 20px 10px;
  background-image: url(../../public/home-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#LinkIcon {
  width: 48px;
  height: 48px;
  margin: 20px 10px;
  background-image: url(../../public/info-icon.png);

  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#menuIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/menu-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -55px;
  right: 0px;
  border: none;
}

#unpinnedIcon,
#pinnedIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -55px;
  left: 0px;
  border: none;
}

#unpinnedIcon,
#pinnedIcon:hover {
  background-color: rgba(254, 125, 0, 0);
}

#unpinnedIcon {
  background-image: url(../../public/unpinned-icon.png);
}

#pinnedIcon {
  background-image: url(../../public/pinned-icon.png);
}

#exitIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/menu-icon.png); /* add propper ICON */
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  border: none;
}

#deleteIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/delete-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#exportIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/export-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#InspectScansIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/open-browser-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#InspectVR {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/VR_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#editIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/edit-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#loadingIconSettings,
#loadingIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/loading_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

#loadingIconSettings {
  margin: 20px 30px;
}

#objIcon {
  width: 48px;
  height: 48px;
  margin: 8px;
  background-image: url(../../public/open-obj-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.note_list {
  list-style-type: none;
  padding: 0;
  margin-left: 15px;
}

.notes_btn {
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;

  color: #203d4b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  border-color: #203d4b;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;

  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  width: 15vw;
}

.notes_btn:hover {
  background-color: rgb(32, 61, 75, 0.25);
}

.note_input {
  background-color: transparent;
  padding: 5px 10px;
  color: #203d4b;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-color: #203d4b;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;

  margin-right: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;

  min-height: 60px;
  width: 15vw;
  min-width: 60px;
}

.note_input:hover {
  background-color: rgb(32, 61, 75, 0.25);
}

.VRbutton {
  /* padding: 10px 24px; /* Some padding */
  /* width: 50%; Set a width if needed
  display: block; Make the buttons appear below each other */

  display: block;
  position: fixed;
  /* top: 25%;
  left: 20%; */

  align-items: right;

  top: 50%;
  left: 70%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.VRbuttons {
  background-color: transparent;
  text-align: center;
  padding: 5px 10px;

  color: #fe7d00;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;

  border-color: #fe7d00;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.375rem;

  width: 500px;
  height: auto;

  margin: 30px;
}

.VRbuttons:hover {
  background-color: rgba(254, 125, 0, 0.25);
}
