.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3rem;
    font-family: Arial, sans-serif;
    position: relative; /* add this line */
  }
  
  .h3 {
    font-size: 5rem;
  }
  
  .p {
    font-size: 1.3rem;
  }

  .small_logo_log {
    position: absolute; 
    top: 0; 
    left: 0; 
    transform: scale(0.45);
  }

  .btn {
    margin-top: 20px;
    background-color: transparent;
    text-align: center;
    padding: 5px 10px;
    color: #fe7d00;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #fe7d00;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.375rem;
  }