.small_logo {
  width: 100px;
  height: auto; /* does not seem to work as intended */
  text-align: center;
  margin: 10px;
  margin-left: 15px;
}

.logout_layout {
  margin: 10px;
  margin-right: 15px;
}

.header_layout {
  width: 100vw;
  height: 8vh;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;

  text-align: center;

  background-color: #f8f8f8;
  border-bottom: 1px solid #6d767e;
  position: fixed;  /* makes the logo go along with the sidebar */
}

.bigText {
  margin: auto;
  text-align: center;
  vertical-align: auto;
  font-weight: 600;
  letter-spacing: 3px;
  word-spacing: 10px;
  color: #223C49;
}