.image_left {
  padding: 0;

  height: 100%;
  width: auto;
  object-position: left;
}

@media only screen and (max-width: 980px) {
  .image_left {
    display: none;
  }
}

.div#content {
  height: 100%;
}

.loginbox {
  margin: auto;
  width: 50vw;
}

.imgbox {
width: 0px;
margin-right: 50vw;
}

.all_landing {
  overflow: hidden;
  height: 100vh;
  width: 100vw;

  background-color: white;

  display: flex;
  justify-content: space-between;
}
