.login_box {
  width: 450px;
  text-align: center;
  align-items: center;
  background-color: #fff;
}

.small_logo_log {
  width: auto;
  text-align: center;
  margin-bottom: 50px;

.small_logo_log {
  width: auto;
  text-align: center;
  margin-bottom: 50px;
}

.small_logo_reg {
  width: auto;
  text-align: center;
  margin-bottom: 50px;
}

.spacingbtn {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.error {
  color: red;
}

.center {
  text-align: center;
}

.firstandlast {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
}
