module .login_box {
  width: 340px;

.login_box {
    width: 340px;
    text-align: center;
    background-color: #fff;

}

.small_logo {
  width: auto;
  text-align: center;
  margin-bottom: 50px;
}

.spacingbtn {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    
}

.error {
    color: red;
}

.center {
    text-align: center;
}


