module

body.active_modal {
    overflow-y: hidden;
}
 
.btn_modal {
    margin: 100px auto 20px;
    display: block;
    /*float: right;*/
    padding: 10px 20px;
    font-size: 25px;
    width: 20dvw;
    height: 25dvh;
    text-align: center;
    background-color: #E6E6E6;
    border-radius: 40px;
    border-style: dashed;
    border-color: #859C9E;
    border-width: 3px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;  /* full width and height */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal_content {
    position: absolute;

    display: block;
    margin: 100px auto 0;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 500px;
    min-width: 500px;
}

.close_modal {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 7px;
}