.patient_picture {
    height: 200;
    text-align: center;
    margin-bottom: 5px;
    
}

.patient_button {
    width: 50dvh;
    text-align: center;
    margin-top: 50px;
}

.projects {
    
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
}

