.patient_picture {
  /* size of picture is fixed, margin will scale with screen-width */
  width: 250px;
  height: auto;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border-radius: 10px;
}

.patient_button {
  /* size of button is fixed to size of picture */
  margin: 12px;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  border-width: 3px;
  border-width: 1.5px;
  border-style: solid;
  border-color: #fe7d00;
  flex-basis: auto;
}

.projects {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
}

.patientscanName {
  text-align: center;
  vertical-align: auto;
  font-weight: 300;
  text-transform: capitalize;
}

.patientscanNameWrapper {
  width: 100%;
  height: 30px;
  background-color: #ebebeb;
  border-radius: 0px 0px 10px 10px;
}

.scansWrapper {
  margin-top: 8vh;
  width: 80vw;
  float: right;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
