.sidebar {
  z-index: 30;
  position: fixed;
  height: 100vh;
  bottom: -15px;
  left: -15px;
  width: 20vw;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 15px 1px #c6c6c6 inset; /* fix: can't get shadow only on one side, fixed by making position negative ^ */
  border-radius: 0px 10px 0px 0px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.sidebarText,
.sidebarName {
  text-align: center;
  font-weight: 300;
  color: #1c3c4c;
  font-size: 25px;
  margin: 0px;
}

.sidebarName {
  text-transform: capitalize;
  font-weight: 350;
}

.sidebarText {
  margin-top: 8vh;
}

.sidebarTextNotes {
  text-align: center;
  font-weight: 300;
  color: #1c3c4c;
  font-size: 18px;
  margin: 0px;
  margin-left: 3px;
}
